yt-dlp
pygame
mutagen
pypresence
werkzeug
eventlet
python-socketio
matplotlib
pywin32
tkinter
requests
mutagen
pypresence
pygame
json
collections
webbrowser
threading
keyboard
importlib
pyinstaller
